header {
    background-color: bisque;
    font-style: italic;
    text-align: center; 
    height: 400px; 
}
.blocks {
    background-color: cornsilk;
    text-align: center;
    height: 200px;
    width: 100%; 
} 
 
.contact {
    background-color: bisque;
    height: 275px;
    width: 100%; 
}